/*
 *
 * CSS Reset
 *
 */

 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }


/*
 *
 * General Rule
 *
 */
/*
 div#wrapper {
 	margin-top: 56px;
 }*/


 div#about > h3 > p {
 	font-size: 5px;
 	text-align: justify;
 }

 div.card-body > p {
 	text-align: justify;
 }